<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{LayoutPadrao}">
	<!-- nome do arquivo html que define o layout padrão -->
<head>
<title>Pesquisa de títulos</title>
</head>

<!-- seção identifica por "conteudo" que será inserida no LayoutPadrao.html  -->
<section layout:fragment="conteudo">
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="clearfix"> <!-- classe clearfix do bootstrap -->
				<h1 class="panel-title ifsc-titulo-panel">Pesquisa de títulos</h1>
				<a class="btn btn-link ifsc-link-panel" href="/titulos/novo">Novo título</a>
				<!-- ifsc-link-panel vai ser definido como uma classe e configurado no CSS -->
			</div>
		</div>
	
		<div class="panel-body">
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th class="text-center col-md-1">#</th>
						<th>Descrição</th>
						<th class="text-center col-md-2">Data de vencimento</th>
						<th class="text-right col-md-2">Valor</th>
						<th class="text-center col-md-2">Status</th>
						<th class="col-md-1"></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td colspan="6">Nenhum título foi encontrado</td>
					</tr>
				</tbody>
			</table>
		</div>
	
	</div>
</section>

</html>