<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"> 
	<!-- namespace de um thymeleaf para inserir uma seção na página, que deve ser adicionado nas outras páginas também.-->
	<head>
		<meta charset="UTF-8" />
		<title>Cobrança</title>
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="/css/style.css"/>
		<link rel="shortcut icon" href="/images/IF_32x32.png" type="image/x-icon"/>
	</head>
<body>
    
    <header th:replace="Cabecalho"></header>
    <!-- namespace layout para inserir uma seção -->
    <section layout:fragment="conteudo">
    	<p>Conteúdo principal</p>
    </section>
    
    <script src="/js/jquery-3.7.1.min.js"></script>
	<script src="/js/bootstrap.min.js"></script> 
    
 </body>
 </html>